<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PyTools</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="/scripts/htmx.min.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body class="bg-gray-900 text-gray-300 font-sans">

        {% include 'components/header.html'%}
        
        <div class="w-full p-4 flex justify-center">
            <input 
                class="px-4 py-2 rounded border border-gray-300 bg-gray-900"
                type="search"
                name="search"
                placeholder="Tags..."
                hx-post="{{ root_path }}/tools?start=0&end=50"
                hx-trigger="keyup[key=='Enter']"
                hx-target="#tool-list"
                hx-indicator=".htmx-indicator"
                hx-swap="innerHTML">
        </div>

        <ul id="tool-list" class="max-w-2xl mx-auto">
            {% with start=0, end=50 %}
                {% include 'components/tool_scroll_loader.html'%}
            {% endwith %}
        </ul>
        
    </body>
</html>
