<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body class="bg-gray-900 text-gray-300 font-sans">

    {% include 'components/header.html'%}

    <div class="w-4/5 mx-auto flex flex-col items-center bg-gray-900">
      
      <div class="font-bold text-white">Terms of Service</div>

      <div class="whitespace-pre-line">
          PyTools allows users to upload arbitrary python code.
          This code could contain language or ideas not supported by PyTools.
          Various pre-filters are applied to catch egregious offenders.

          PyTools reserves the right to remove any python code that violates the following TOS.
          Under severe violations, the account will be banned.

          <strong>No Profanity:</strong> Don't upload code with profanity
          <strong>No Politics:</strong> Comments will not contain political statements.
          <strong>Use Common Sense:</strong> This is a web application to share helpful tools with the community.
          Don't upload code/comments unaligned with that environment. There are better places for that.
      </div>
    </div>

  </body>
</html>
