<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ tool }}</title>
        <link href="/static/all.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/shades-of-purple.css" rel="stylesheet">
        <link href="/static/prism-line-numbers.min.css" rel="stylesheet">
        <script src="/scripts/htmx.min.js"></script>
        <script src="/scripts/prism.min.js"></script>
        <script src="/scripts/prism-python.min.js"></script>
        <script src="/scripts/prism-line-numbers.min.js"></script>

        
        <style>
            ::-webkit-scrollbar { width: 10px; }
            ::-webkit-scrollbar-track { background: #2d3748; }
            ::-webkit-scrollbar-thumb {
                background-color: #4a5568;
                border-radius: 10px;
            }
            ::-webkit-scrollbar-thumb:hover { background-color: #718096; }

            .loader {
                border: 4px solid #f3f3f3;
                border-top: 4px solid #3498db;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                animation: spin 1s linear infinite;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

        </style>
    </head>
    <body class="bg-gray-900 text-gray-300 font-sans">

        {% include 'components/header.html'%}

        <div class="w-4/5 mx-auto flex flex-col items-center bg-gray-900">
            
            <div class="w-full text-left font-bold mt-6 mb-2 text-white pl-4">{{ tool }}</div>
            <div class="container flex flex-row items-start max-w-full m-0 p-4 rounded-md bg-gray-800 shadow-md overflow-x-auto">
                <div class="flex flex-row gap-4 w-full">
                    
                    <div class="max-h-[700px] w-3/4 bg-gray-700 rounded-md overflow-x-auto">
                        <pre class="line-numbers"><code class="language-python">{{ code }}</code></pre>
                    </div>

                    <form
                        id="argument-form"
                        class="w-1/4 flex flex-col mt-0 gap-0 rounded-md bg-gray-700 p-2" 
                        enctype="multipart/form-data"
                        hx-post="{{ endpoint }}"
                        hx-target="#return"
                        hx-indicator="#load-context"
                        hx-swap="innerHTML">

                        {{ form_groups | safe }}

                        <input 
                            class="w-full mt-2 h-10 px-4 border border-gray-300 rounded-md bg-gray-700 text-white hover:bg-gray-600"
                            type="submit"
                            style="cursor: pointer;"
                            form="argument-form"
                            value="Submit"/>

                        <div class="flex gap-2 mt-2 w-full">
                            <a
                                href="{{ root_path }}/download/tool/{{ tool_id }}"
                                class="hover:text-white"> 
                                    <i class="fas fa-download mr-2"></i>
                                    Offline Runner
                            </a>
                            <div id="spacer" class="flex-grow"></div>
                            <button 
                                id="share-link-button"
                                class="hover:text-white">
                                <i class="fas fa-share-alt mr-2"></i> Share Link 
                            </button>
                        </div>

                        <div id="spacer" class="flex-grow"></div>

                        <div>
                            runs: {{ runs }}
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="w-full text-left font-bold mt-6 mb-2 text-white pl-4">Results</div>

            <div class="container flex flex-row items-start max-w-full m-0 p-4 rounded-md bg-gray-800 shadow-md" id="result">
                
                <div
                    class="htmx-indicator" 
                    id="load-context">
                    <div class="loader"></div>
                </div>

                <div class="w-full mx-auto p-2 bg-gray-700 rounded-md" id="return">
                    <pre></pre>
                </div>
            </div>
            
        </div>
        
        <div style="height: 200px;"></div>

    <script>
        function copy_form_to_clipboard() {
            event.preventDefault(); // prevent form submission
            const form = document.getElementById('argument-form');
            const formData = new FormData(form);
            const queryString = new URLSearchParams(formData).toString();
            const currentUrl = new URL(window.location.href); 
            currentUrl.search = queryString;
            navigator.clipboard.writeText(currentUrl.toString())
        }
        document.getElementById("share-link-button").addEventListener("click", copy_form_to_clipboard);
    </script>
    </body>
</html>
