<!DOCTYPE html>
<html lang="en">
    
    <head>
        {% set title = 'User Profile' %}
        {% include 'components/head.html' %}
    </head>
    
    <body class="bg-gray-900 text-gray-300 font-sans">

        {% include 'components/header.html'%}

        <ul id="tool-list" class="max-w-2xl mx-auto">
            <div class="container-title max-w-2xl text-center font-bold mt-6 mb-2 text-white pl-4">User's Tools</div>

            {% include 'components/upload_tool_item.html'%}

            <li
                hx-post="{{ root_path }}/user/tools"
                hx-trigger="load"
                hx-swap="outerHTML"
                class="my-4 rounded-md overflow-hidden">
                <a href="#"
                    class="block px-6 py-4 bg-gray-800 hover:bg-gray-700 text-lg">
                </a>
            </li>
        </ul>
    </body>
</html>
