
{# Meta #}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico"> 

{# Styling #}
<link href="/static/output.css" rel="stylesheet">
<link href="/static/all.min.css" rel="stylesheet">

{# Interactivity #}
<script src="/scripts/htmx.min.js"></script>
<script src="/scripts/_hyperscript.min.js"></script>

{# ResponseError Alert #}
<script type="text/hyperscript">
    on htmx:responseError in <body/>
        call alert(JSON.parse(event.detail.xhr.response).detail)
    end
</script>
