body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#container {
    max-width: 75%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
}

.title,
.description {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2em;
    color: #bbbbbb;
}

.content {
    display: flex !important;
    gap: 10px;
    width: 100% !important;
    justify-content: center;
    align-items: flex-start;
}

.code-area {
    width: 60% !important;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow-x: auto;
}

#master-form {
    width: 40% !important;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 10px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0px; 
    display: flex;
    flex-direction: row;
}

label {
    margin-bottom: 1px;
    margin-right: 10px;
    white-space: nowrap;
    line-height: 2;
    min-width: 70px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="submit"] {
    height: 2.5em;        /* Set a specific height for input fields */
    padding: 0 10px;      /* Horizontal padding */
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    flex-grow: 1;          /* Allow the input to take the remaining space */
    background-color: #202020;
    color: white;
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

#drop-area {
    width: 100%;
    margin-right: 5px;
    background-color: #333;
    border: 2px dashed #555;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    transition: border 0.3s ease, transform 0.3s ease;
}

#drop-area:hover {
    border-color: #ffffff;
    transform: scale(1.005);
}

#upload-form p {
    margin: 0;
    font-size: 18px;
    color: #bbb;
}

input[type="file"] {
    display: none;
}

/* return home css */
.return-home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #696969;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.return-home:hover {
    color: #ffffff;
}

/* PrismJS specific styles for dark mode */
code[class*="language-"],
pre[class*="language-"] {
    color: white;
    background: none;
    text-shadow: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
