body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 10px;
}

.outer-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding: 0px;
    background-color: #121212;
}

.container-title {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.code-area {
    max-height: 700px;
    width: 80% !important;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    overflow-x: auto;
}

#master-form {
    width: 20% !important;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 0px;
}

form {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 5px;
}

.result-container {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    background-color: #1e1e1e;
}

.return {
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: #2d2d2d;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 0px; 
    display: flex;
    flex-direction: row;
}

label {
    margin-bottom: 1px;
    margin-right: 10px;
    white-space: nowrap;
    line-height: 2;
    min-width: 70px;
}

input[type="text"],
input[type="file"],
input[type="number"] {
    margin-top: 1px;
    height: 2.5em;      
    padding: 0 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: #202020;
    color: white;   
    min-width: 5px;
}
input[type="submit"] {
    width: 100%;
    margin-top: 5px;
    height: 2.5em;      
    padding: 0 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: #202020;
    color: white;
}
input[type="file"] {
  line-height: 2.5;
}
input[type="submit"]:hover {
    background-color: rgb(63, 63, 63);
}


/* return home css */
.return-home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #696969;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.return-home:hover {
    color: #ffffff;
}

/* PrismJS specific styles for dark mode */
code[class*="language-"],
pre[class*="language-"] {
    color: white;
    background: none;
    text-shadow: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the draggable part of the scrollbar */
    border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color when hovering over the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Background of the scrollbar track */
}