<footer class="bg-gray-800 text-white w-full mt-auto"> 
  <div class="container mx-auto flex flex-col items-center py-2">
    <div class="flex space-x-4"> 
      <a href="{{ root_path }}/privacy-policy" class="text-sm text-gray-500 hover:text-white transition-colors duration-300">Privacy Policy</a>
      <a href="{{ root_path }}/terms-of-service" class="text-sm text-gray-500 hover:text-white transition-colors duration-300">Terms of Service</a>
    </div>
    <p class="text-xs text-gray-600 mt-2 mb-0">&copy; PyTools</p> 
  </div>
</footer>