<li class="my-4 rounded-md overflow-hidden flex justify-between items-center">
    
    <div class="flex justify-between bg-gray-800 w-full">

        <a href="{{ root_path }}/tool/{{ id }}" class="block px-6 py-4 bg-gray-800 hover:bg-gray-700 text-lg text-gray-300 rounded-md">
            {{ name }}
        </a>

        <div class="flex-grow"></div>

        <div class="flex space-x-2">
            
            <input
                id="tool-update-{{ id }}"
                type="file" 
                name="file" 
                hx-post="{{ root_path }}/manage/tool/update/{{ id }}"
                hx-encoding="multipart/form-data"
                hx-trigger="change" 
                hx-swap="none" 
                style="display: none;" />

            <label
                for="tool-update-{{ id }}"
                class="block px-6 py-4 bg-gray-800 hover:bg-gray-700 text-lg text-gray-300 rounded-md">
                Update
            </label>

            <a 
                hx-delete="{{ root_path }}/manage/tool/delete/{{ id }}"
                hx-trigger="click"
                hx-target="closest li"
                class="block px-6 py-4 bg-gray-800 hover:bg-gray-700 text-lg text-gray-300 rounded-md">
                Delete
            </a>

        </div>
    </div>
</li>