<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Ensure Tailwind is linked -->
  </head>
  <body class="bg-gray-900 text-gray-300 font-sans p-4">

    <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>

    <div>
      <p class="mt-2 whitespace-pre-line">
        PyTools requires user data for the following reasons:
        - Attributing uploaded code to users
        - Allowing users to delete their uploaded code
        - Banning users who abuse TOS from uploading code

        PyTools utilizes user data for internal purposes only.
        User data is not given/sold/shared for any purposes.
      </p>
    </div>

  </body>
</html>
