<!DOCTYPE html>
<html>
<head>
  <title>Privacy Policy</title>
  <style>
    .multi-line-pharagraph {
      margin-top: 1px;
      white-space: pre-line;
    }
    h1 {
      margin-bottom: 1px;
    }
    p {
      margin-top: 1px;
    }
  </style>
</head>
<body>

<h1>Privacy Policy</h1>
<div>
  <p class="multi-line-pharagraph">
    PyTools requires user data for the following reasons:
    - Attributing uploaded code to users
    - Allowing users to delete their uploaded code
    - Banning users who abuse TOS from uploading code

    PyTools utalizes user data for internal purposes only.
    User data is not given/sold/shared for any purposes.
  </p>
</div>
</body>
</html>