<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind CDN -->
  </head>
  <body class="bg-gray-900 text-gray-300 font-sans p-4">

    <h1 class="text-3xl font-bold mb-4">Terms of Service</h1>

    <div>
      <p class="mt-2 whitespace-pre-line">
        PyTools allows users to upload arbitrary python code.
        This code could contain language or ideas not supported by PyTools.
        Various pre-filters are applied to catch egregious offenders.

        PyTools reserves the right to remove any python code that violates the
        following TOS.
        Under severe violations, the account will be banned.

        1) No Profanity: An official listing of "profanity" can be found at
        https://github.com/coffee-and-fun/google-profanity-words
        2) No Politics: Comments will not contain political statements.
        3) Use Common Sense: This is a web application to share helpful tools
        with the community.
        Don't upload code/comments unaligned with that environment. There are
        better places for that.
      </p>
    </div>

  </body>
</html>
