<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body class="bg-gray-900 text-gray-300 font-sans">

    {% include 'components/header.html'%}

    <div class="w-4/5 mx-auto flex flex-col items-center bg-gray-900">
      
      <div class="font-bold text-white">Privacy Policy</div>

      <div class="whitespace-pre-line">
        PyTools requires user data for the following reasons:
        - Attributing uploaded code to users
        - Allowing users to delete their uploaded code
        - Banning users who violate TOS

        PyTools utilizes user data for internal purposes only.
        User data is not given/sold/shared for any purposes.
      </div>
    </div>

  </body>
</html>
