<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="{{ base_url }}/static/converter.css?t={{ time }}">
</head>
<body class="dark-mode">
    
    <a href="{{ base_url }}/" class="return-home"><i class="fas fa-home"></i></a>
    
    <div id="container">

        <div class="summary">
            <div class="title">{{ converter_name }}</div>
            <div class="description">{{ description }}</div>
        </div>

        <div class="content">
            <div class="code-area">
                <pre><code class="language-python">{{ code }}</code></pre>
            </div>
            <div class="master-form">
                <div id="drop-area">
                    <form id="upload-form" class="my-form" action="{{ base_url }}/convert/{{ endpoint }}" method="post" enctype="multipart/form-data">
                        <p>Upload File</p>
                        <input type="file" id="fileElem" name="files" multiple onchange="handleFiles(this.files)">
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
    <script src="{{ base_url }}/scripts/drop-area.js"></script>

</body>
</html>
