<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="{{ base_url }}/static/converter.css?t={{ time }}">
</head>
<body class="dark-mode">
    
    <a href="{{ base_url }}/" class="return-home"><i class="fas fa-home"></i></a>
    
    <div id="container">

        <div class="summary">
            <div class="title">{{ converter_name }}</div>
            <div class="description">{{ description }}</div>
        </div>

        <div class="content">
            <div class="code-area">
                <pre><code class="language-python">{{ code }}</code></pre>
            </div>
            <form id="master-form" action="/submit" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" required>
                </div>

                <div class="form-group">
                    <label for="price">Parent:</label>
                    <input type="number" id="price" name="price" step="0.01" required>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>

</body>
</html>
