<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyTools</title>
    <link rel="stylesheet" href="{{ root_path }}/static/index.css">
</head>
<body>

    <h1>PyTools</h1>
    <ul id="tool-list">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("{{ root_path }}/tools")
                .then(response => response.json())
                .then(data => {
                    const list = document.getElementById("tool-list");
                    data.tools.forEach(tool => {
                        const listItem = document.createElement("li");
                        const link = document.createElement("a");
                        link.href = `{{ root_path }}/tool/${tool}`;
                        link.textContent = tool;
                        listItem.appendChild(link);
                        list.appendChild(listItem);
                    });
                });
        });
    </script>
</body>
</html>
