<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyConverter</title>
    <link rel="stylesheet" href="{{ base_url }}/static/index.css">
</head>
<body>

    <h1>PyConverter</h1>
    <ul id="converter-list">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("{{ base_url }}/converters")
                .then(response => response.json())
                .then(data => {
                    const list = document.getElementById("converter-list");
                    data.converters.forEach(converter => {
                        const [name, endpoint] = converter;
                        const listItem = document.createElement("li");
                        const link = document.createElement("a");
                        link.href = `{{ base_url }}/convert/${endpoint}`;
                        link.textContent = name;
                        listItem.appendChild(link);
                        list.appendChild(listItem);
                    });
                });
        });
    </script>
</body>
</html>
