<!DOCTYPE html>
<html>
<head>
  <title>Terms of Service</title>
  <style>
    .multi-line-pharagraph {
      margin-top: 1px;
      white-space: pre-line;
    }
    h1 {
      margin-bottom: 1px;
    }
    p {
      margin-top: 1px;
    }
  </style>
</head>
<body>

<h1>Terms of Service</h1>
<div>
  <p class="multi-line-pharagraph">
    PyTools allows users to upload arbitraty python code.
    This code could contain language or ideas not supported by PyTools.
    Various pre-filters are applied to catch egregious offenders.

    PyTools reserves the right to remove any python code that violates the following TOS.
    Under severe violations the accountwill be banned.

    1) No Profanity: An official listing of "profanity" can be found at https://github.com/coffee-and-fun/google-profanity-words
    2) No Politics: Comments will not contain political statements
    3) Use Common Sense: This is a web application to share helpful tools with the commuinity.
    Don't upload code/comments unaligned with that environment, there are better places for that.
  </p>
</div>
</body>
</html>