<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Tool</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vtk.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="{{ root_path }}/static/tool.css?t={{ time }}">
</head>
<body class="dark-mode">
    
    <a href="{{ root_path }}/" class="return-home"><i class="fas fa-home"></i></a>
    
    <div class="outer-container">
        <div class="container">
            <div class="content">
                <div class="code-area">
                    <pre><code class="language-python">{{ code }}</code></pre>
                </div>
                <form class="master-form" 
                    enctype="multipart/form-data" 
                    hx-post="{{ endpoint }}"
                    hx-target="#result" 
                    hx-swap="outerHTML">
                    {{ form_groups|safe }}
                    <!-- <input type="hidden" name="__blank__" value=""> fixes blank submit when no python arguments -->
                    <input type="submit" value="Submit">
                </form>
            </div>        
        </div>
        <div id="result"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>

</body>
</html>
